
/* canvasとランキングを横並びに */
#game-and-output-container {
  display: flex;
}

/* キャンバスを囲むコンテナ */
#game-container {
  position: relative;
  height: 400px;  /* canvasの高さと一致させる */
}

/* キャンバスと背景キャンバス */
canvas {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* ボタンと蛇の長さ表示を囲むコンテナ */
#button-container {
  margin-top: 20px;
}

#output {
  margin-left: 450px; 
  margin-top: 50px;
}

.ranking-title {
  font-weight: bold;
}

.child-interval {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  /* gap: 1px; */
}